{% extends "layout.html" %}


{% block corpo %}
    {% if session.logado %}
        <form action="{{ url_for('inserir_entradas') }}" method="post" class="ins-entrada">
            <dl>
                <dt>Título:
                    <dd><input type="text" size="30" name="titulo">
                <dt>Texto:
                <dd><textarea rows="5" cols="40" name="texto"></textarea>
                <dd><input type="submit" value="Publicar">
            </dl>
        </form>
    {% endif %}
                                                                            
    <ul class="entradas">
        {% for entrada in entradas %}
        <li>
            <a href="{{ url_for('exibir_entrada', id=loop.revindex) }}"><h2>{{ entrada.titulo }}</h2></a>
            {{ entrada.texto |safe | truncate(140) }}
        </li>
        {% else %}
            <li><em>Inacreditável. Até agora nenhuma entrada.</em></li>
        {% endfor %}
    </ul>
{% endblock %}